.tomar {
    padding-left: 45%;
    padding-top: 15px;
}

.btnContacti {
    align-self: center;
    width: 20%;
    height: 20%;
    border: none;
    border-radius: 1rem;
    background: #17499D;
    color: #fff;
    margin-bottom: 10px;
}

.webcam {
    padding-top: 20px;
    padding-left: 25%;
}