.registroc {
    margin-left: 400px !important;
    margin-right: 50px !important;
    margin-top: 100px !important;
}

.box-widget {
    border: none;
    position: relative;
}

.box {
    position: relative;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-widget .widget-user-header {
    padding: 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user-desc {
    margin-left: 75px;
    color: #000000;
    margin-top: 0;
}

.widget-user-image>img {
    width: 50px;
    height: auto;
    float: left;
    border-radius: 50%;
}

.no-padding {
    padding: 0 !important;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.nav-stacked {
    height: 220px;
    width: 315px;
    background-image: url("../../../assets/images/logo2.png");
    opacity: 0.7;
    h6 {
        color: #000000;
    }
}

.bg-blue {
    background-color: #42B8D2 !important;
}

.bg-red {
    background-color: #1A67A3 !important;
}


/* '''''''''''''' */

button {
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #42B8D2;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-bottom: 10px;
}

.usuario {
    text-align: left;
    margin-bottom: 50px;
    color: #03225D;
}