<div class="content">

    <app-sidebar></app-sidebar>




    <div class="registroc">


        <div class="usuario">
            <h3>{{nameObj.role}} {{nameObj.nombreU}} {{nameObj.apellidoU}}</h3>
        </div>


        <!-- widgets para menuu -->


        <div class="container bootdey">
            <div class="row bootstrap snippets bootdey">
                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-blue">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Pacientes</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">

                            </ul>
                            <button type="button" class="btn " (click)="pacientes()">Registro</button>

                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-red">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Parejas</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">



                            </ul>
                            <button type="button " class="btn " (click)="parejas() ">Registro</button>
                        </div>
                    </div>
                </div>




            </div>
        </div>



        <!-- '''''''''''''''''''' -->


    </div>






</div>