<div class="content" id="htmlData">



    <div class="historia" *ngIf='!remision'>

        <div class="contact-image">
            <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
        </div>






        <div class="foto">
            <img *ngIf="!showpareja" src="{{infoSeguimiento.paciente.foto}}" />

            <img *ngIf="showpareja" src="{{infoSeguimiento.pareja.foto}}" />
            <img *ngIf="showpareja" src="{{infoSeguimiento.pareja.foto2}}" />

            <h4 *ngIf="!showpareja">Historia clinica No: {{infoSeguimiento.paciente.cedula}}</h4>
            <h4 *ngIf="showpareja">Historia clinica No: {{infoSeguimiento.pareja.cedula}}</h4>
            <h5>Fecha: {{infoSeguimiento.fecha | date: 'YYYY-MM-dd, , h:mm:ss a'}}</h5>
        </div>


        <div class="datosP">

            <h5 *ngIf="!showpareja">Nombres Y Apellidos: {{infoSeguimiento.paciente.nombreyapellido}}</h5>

            <h5 *ngIf="showpareja">Nombres Y Apellidos: {{infoSeguimiento.pareja.nombreyapellido}} & {{infoSeguimiento.pareja.nombreyapellido2}}</h5>

            <h5 *ngIf="!showpareja">Edad: {{infoSeguimiento.paciente.edad}}</h5>

            <h5 *ngIf="showpareja">Edades: {{infoSeguimiento.pareja.edad}} & {{infoSeguimiento.pareja.edad2}}</h5>


            <h5>Número De La Sesion: {{infoSeguimiento.sesiones}}</h5>

            <h5>Ultima Sesion: {{infoSeguimiento.ultima}}</h5>


        </div>

        <div class="datosP">

            <h5>Descripcion de la situacion actual: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.descripcion}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Situaciones que han mejorado: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.situaciones}}" style="width: 80%; height: 150px;" readonly></textarea>


            <h5>Progreso: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.progreso}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Acuerdos terapeuticos: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.acuerdos}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Observaciones: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.observaciones}}" style="width: 80%; height: 150px;" readonly></textarea>


        </div>



        <!-- aqui va la firma del medico con su tarjetap, registro y nombre -->
        <div class="firma">
            <img src="{{infoSeguimiento.usuario.firma}}" />
            <h6> {{infoSeguimiento.usuario.nombre}} {{infoSeguimiento.usuario.apellido}} </h6>
            <h6>{{infoSeguimiento.usuario.role}}</h6>


        </div>




    </div>


    <div class="historia" *ngIf='remision'>

        <div class="contact-image">
            <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
        </div>






        <div class="foto">
            <img src="{{infoSeguimiento.paciente.foto}}" />

            <h4>Historia clinica No: {{infoSeguimiento.paciente.cedula}}</h4>
            <h5>Fecha: {{infoSeguimiento.fecha | date: 'YYYY-MM-dd, , h:mm:ss a'}}</h5>
        </div>


        <div class="datosP">

            <h5>Nombres Y Apellidos: {{infoSeguimiento.paciente.nombreyapellido}}</h5>

            <h5>Edad: {{infoSeguimiento.paciente.edad}}</h5>


            <h5>Número De La Remision: {{infoSeguimiento.remisiones}}</h5>

            <h5>Ultima Sesion: {{infoSeguimiento.ultima}}</h5>


        </div>

        <div class="datosP">

            <h5>Descripción Del Encuentro Psicoterapeutico: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.descripcion}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Evaluación Del Estado Mental: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.evaluacion}}" style="width: 80%; height: 150px;" readonly></textarea>


            <h5>Impresión: </h5>
            <h6>Diagnostica: </h6>

            <textarea class="form-control" value="{{infoSeguimiento.diagnostica}}" style="width: 80%; height: 150px;" readonly></textarea>
            <h6>COD: </h6>

            <textarea class="form-control" value="{{infoSeguimiento.cod}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Seguimiento Del Caso: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.seguimiento}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Medico O Entidad Receptora: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.medicoentidad}}" style="width: 80%; height: 150px;" readonly></textarea>

            <h5>Observaciones: </h5>

            <textarea class="form-control" value="{{infoSeguimiento.observaciones}}" style="width: 80%; height: 150px;" readonly></textarea>


        </div>



        <!-- aqui va la firma del medico con su tarjetap, registro y nombre -->
        <div class="firma">
            <img src="{{infoSeguimiento.usuario.firma}}" />
            <h6> {{infoSeguimiento.usuario.nombre}} {{infoSeguimiento.usuario.apellido}} </h6>
            <h6>{{infoSeguimiento.usuario.role}}</h6>


        </div>




    </div>





</div>