<div class="content">

    <app-sidebar></app-sidebar>

    <div class="historia" ng-app="">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
                <h5>{{infoPaciente.nombreyapellido}}</h5>
                <h5>Historia Clinica No: {{infoPaciente.cedula}} </h5>
                <h5>Fecha: {{fecha}}</h5>
                <!-- <img [src]="infoPaciente.firma" alt="firma" /> -->
            </div>
            <form [formGroup]="psiquiForm" (ngSubmit)="psiqui()">
                <h3>Historia Psiquiatrica Paciente</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Motivo De Consulta</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Motivo" style="width: 200%; height: 150px;" formControlName="motivo"></textarea>
                        </div>
                        <h4>Padecimiento Actual</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Padecimiento Actual" style="width: 200%; height: 150px;" formControlName="padecimiento"></textarea>

                        </div>

                        <h4>Antecedentes Heredofamiliares</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Antecedentes Heredofamiliares" style="width: 200%; height: 150px;" formControlName="heredofamiliares"></textarea>

                        </div>

                        <h4>Antecedentes Personales No Patológicos</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Antecedentes Personales No Patológicos " style="width: 200%; height: 150px;" formControlName="antecedentesPerso"></textarea>
                        </div>
                        <h4>Antecedentes Personales Patológicos</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder=" Antecedentes Personales Patológicos" style="width: 200%; height: 150px;" formControlName="antecedentesPato"></textarea>
                        </div>



                        <h4>Antecedentes Andrológicos</h4>

                        <table style="width: 200%;">
                            <tr>
                                <th>Circuncisión</th>
                                <th>Criptorquidia</th>
                                <th>Poluciones Nocturnas</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input type="radio" name="circuncision" value="Si" formControlName="circuncision">Si <input type="radio" name="circuncision" value="No" formControlName="circuncision">No
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="radio" name="criptorquidia" value="Si" formControlName="criptorquidia">Si <input type="radio" name="criptorquidia" value="No" formControlName="criptorquidia">No
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="radio" name="polucionesNoctu" value="Si" formControlName="polucionesNoctu" checked>Si <input type="radio" name="polucionesNoctu" value="No" formControlName="polucionesNoctu">No
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>IVSA</th>
                                <th>No. De Parejas</th>
                                <th>ETS</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="" style="width: 50%; height: 50px;" type="number" formControlName="ivsa">
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="" style="width: 50%; height: 50px;" type="number" formControlName="parejas">
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="radio" name="ets" value="Si" formControlName="ets">Si <input type="radio" name="ets" value="No" formControlName="ets">No
                                    </div>

                                </td>

                            </tr>




                        </table>


                        <h4>Antecedentes Familiares</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Antecedentes Familiares" style="width: 200%; height: 150px;" formControlName="AntecendesFami"></textarea>
                        </div>
                        <h4>Antecedentes Escolares</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Antecedentes Escolares" style="width: 200%; height: 150px;" formControlName="AntecendesEsco"></textarea>
                        </div>
                        <h4>Historia Psicosexual</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Historia Psicosexual" style="width: 200%; height: 150px;" formControlName="historiaPiscoSex"></textarea>
                        </div>
                        <h4>Historia Ocupacional</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Historia Ocupacional" style="width: 200%; height: 150px;" formControlName="historiaOcupa"></textarea>
                        </div>
                        <h4>Tiempo Libre</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Tiempo Libre" style="width: 200%; height: 150px;" formControlName="tiempoL"></textarea>
                        </div>

                        <!--  <h4>Interrogatorio Por Aparatos Y Sistemas</h4>

                        <h4>Exploración Física Y Neurológica</h4> -->

                        <app-radiobuttons [DataComponent]="data1" (propagar)="procesaPropagar($event)"></app-radiobuttons>





                        <h5>Signos Vitales y Somatometria</h5>

                        <table style="width: 200%;">
                            <tr>
                                <th>Presión Arterial</th>

                                <th>Frecuencia Respiratoria </th>

                                <th>Frecuencia Cardiaca</th>

                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="" style="width: 100%; height: 50px;" formControlName="presion"></textarea>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="" style="width: 100%; height: 50px;" formControlName="frecuencia"></textarea>
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="" style="width: 100%; height: 50px;" formControlName="frecuenciaC"></textarea>
                                    </div>
                                </th>

                            </tr>
                            <tr>
                                <th>Temperatura(°C)</th>
                                <th>Peso(Kg) </th>
                                <th>Talla(M) </th>
                            </tr>
                            <tr>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="" style="width: 100%; height: 50px;" type="number" formControlName="temperatura">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" style="width: 100%; height: 50px;" type="number" formControlName="peso">
                                    </div>
                                </th>
                                <th>
                                    <div class="form-group">
                                        <input class="form-control" style="width: 100%; height: 50px;" type="number" formControlName="talla">
                                    </div>
                                </th>
                            </tr>

                        </table>



                        <h4>Examen Mental</h4>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Examen Mental" style="width: 200%; height: 100px;" formControlName="mental"></textarea>
                        </div>

                        <h4>Diagnósticos</h4>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Diagnósticos" style="width: 200%; height: 100px;" formControlName="diagnosticos"></textarea>
                        </div>



                        <div class="form-group">
                            <input type="submit" name="btnSubmit" (propagar)="procesaPropagar($event)" class="btnContact" value="Enviar" />
                        </div>



                    </div>

                </div>
            </form>


        </div>



    </div>




</div>