.btnContacti {
    align-self: center;
    width: 20%;
    height: 20%;
    border: none;
    border-radius: 1rem;
    background: #17499D;
    color: #fff;
}

.tomar {
    padding-left: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
}