<div id="htmlData" class="container contact-form">
    <div class="contact-image">
        <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
    </div>


    <form (ngSubmit)="seguimiento()">

        <h3>Seguimiento De Caso</h3>
        <h5>Fecha: {{fecha}}</h5>


        <!-- paciente -->
        <table style="width: 100%;">
            <tr>
                <th>Nombre y Apellido</th>
                <th>Cedula</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>
                    <h6>{{nombreP}}</h6>
                </td>
                <td>
                    <h6>
                        {{cedulaP}}
                    </h6>
                </td>
                <td>
                    <h6>
                        {{edadP}}
                    </h6>
                </td>
            </tr>
        </table>
        <h5>Fecha Proxima Sesión </h5>
        <div class="form-group">
            <h5>{{proximaS}}</h5>
        </div>

        <h6>Progreso</h6>
        <div class="form-group">
            {{progreso}}

            <!-- <textarea class="form-control" [value]="progreso" style="width: 100%; height: 150px;" readonly></textarea> -->
        </div>
        <h6>Acuerdos</h6>
        <div class="form-group">
            {{acuerdos}}
            <!-- <textarea class="form-control" [value]="acuerdos" style="width: 100%; height: 150px;" readonly></textarea> -->
        </div>

        <table>

            <tr>
                <td>
                    <img [src]="firmaM" alt="firma">
                </td>
            </tr>
            <tr>

                <td>
                    {{nombreM}} {{apellidoM}}
                </td>
            </tr>
            <tr>
                <td>
                    {{profesionM}}
                </td>
            </tr>

        </table>



    </form>


</div>

<div class="container contact-form form-group">
    <input type="button" class="btnContact" value="Imprimir" (click)="downloadPDF()" />
</div>