<div class="content">

    <app-sidebar></app-sidebar>

    <div class="historia" ng-app="">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
                <h5>{{infoPaciente.nombreyapellido}}</h5>
                <h5>Cedula: {{infoPaciente.cedula}} </h5>
                <h5>Fecha: {{fecha}}</h5>
                <!-- <img [src]="infoPaciente.firma" alt="firma" /> -->
            </div>
            <form [formGroup]="terapiaForm" (ngSubmit)="terapiaOcu()">
                <h3>Terapia Ocupacional Paciente</h3>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Motivo De Consulta</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Motivo" style="width: 200%; height: 150px;" formControlName="motivo"></textarea>
                        </div>
                        <h4>Datos Clínicos</h4>
                        <h6>Diagnóstico Principal</h6>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Diagnóstico Principal" style="width: 200%; height: 150px;" formControlName="diagnosticoP"></textarea>

                        </div>

                        <h6>Otros diagnósticos</h6>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Otros diagnósticos" style="width: 200%; height: 150px;" formControlName="otrosD"></textarea>

                        </div>



                        <h4>Aspectos Motores</h4>

                        <h6>Tolerancia</h6>

                        <div class="form-group">
                            <input type="radio" name="tolerancia" value="Normal" formControlName="tolerancia" checked>Normal <input type="radio" name="tolerancia" value="Anormal" formControlName="tolerancia" ng-model="show">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="tolerancia" ng-show="show"></textarea>

                        </div>
                        <h6>Deformidades </h6>
                        <div class="form-group">
                            <input type="radio" name="deformidades" value="Normal" formControlName="deformidades">Normal <input type="radio" name="deformidades" value="Anormal" formControlName="deformidades">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="deformidades"></textarea>

                        </div>
                        <h6>Edema </h6>
                        <div class="form-group">
                            <input type="radio" name="edema" value="Normal" formControlName="edema">Normal <input type="radio" name="edema" value="Anormal" formControlName="edema">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="edema"></textarea>

                        </div>
                        <h6>Rango articular</h6>
                        <div class="form-group">
                            <input type="radio" name="rangoA" value="Normal" formControlName="rangoA">Normal <input type="radio" name="rangoA" value="Anormal" formControlName="rangoA">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="rangoA"></textarea>

                        </div>
                        <h6>Fuerza muscular</h6>
                        <div class="form-group">
                            <input type="radio" name="fuerzaM" value="Normal" formControlName="fuerzaM">Normal <input type="radio" name="fuerzaM" value="Anormal" formControlName="fuerzaM">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="fuerzaM"></textarea>

                        </div>
                        <h6>Reacciones automáticas</h6>
                        <div class="form-group">
                            <input type="radio" name="reacciones" value="Normal" formControlName="reacciones">Normal <input type="radio" name="reacciones" value="Anormal" formControlName="reacciones">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="reacciones"></textarea>

                        </div>
                        <h6>Control postural</h6>
                        <div class="form-group">
                            <input type="radio" name="control" value="Normal" formControlName="control">Normal <input type="radio" name="control" value="Anormal" formControlName="control">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="control"></textarea>

                        </div>
                        <h6>Marcha / Equilibrio</h6>
                        <div class="form-group">
                            <input type="radio" name="marcha" value="Normal" formControlName="marcha">Normal <input type="radio" name="marcha" value="Anormal" formControlName="marcha">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="marcha"></textarea>

                        </div>
                        <h6>Coordinación </h6>
                        <div class="form-group">
                            <input type="radio" name="coordinacion" value="Normal" formControlName="coordinacion">Normal <input type="radio" name="coordinacion" value="Anormal" formControlName="coordinacion">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="coordinacion"></textarea>

                        </div>
                        <h6>Destreza manual</h6>
                        <div class="form-group">
                            <input type="radio" name="destreza" value="Normal" formControlName="destreza">Normal <input type="radio" name="destreza" value="Anormal" formControlName="destreza">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="destreza"></textarea>
                        </div>

                        <h4>Componentes Sensoriales</h4>

                        <h6>Vista</h6>
                        <div class="form-group">
                            <input type="radio" name="vista" value="Normal" formControlName="vista">Normal <input type="radio" name="vista" value="Anormal" formControlName="vista">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="vista"></textarea>
                        </div>

                        <h6>Oído</h6>
                        <div class="form-group">
                            <input type="radio" name="oido" value="Normal" formControlName="oido">Normal <input type="radio" name="oido" value="Anormal" formControlName="oido">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="oido"></textarea>
                        </div>
                        <h6>Sensibilidad</h6>
                        <div class="form-group">
                            <input type="radio" name="sensibilidad" value="Normal" formControlName="sensibilidad">Normal <input type="radio" name="sensibilidad" value="Anormal" formControlName="sensibilidad">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="sensibilidad"></textarea>
                        </div>
                        <h6>Propiocepción</h6>
                        <div class="form-group">
                            <input type="radio" name="propiocepcion" value="Normal" formControlName="propiocepcion">Normal <input type="radio" name="propiocepcion" value="Anormal" formControlName="propiocepcion">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="propiocepcion"></textarea>
                        </div>

                        <h4>Valoración Componentes Cognitivos</h4>

                        <h6>Nivel de conciencia</h6>
                        <div class="form-group">
                            <input type="radio" name="conciencia" value="Normal" formControlName="conciencia">Normal <input type="radio" name="conciencia" value="Anormal" formControlName="conciencia">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="conciencia"></textarea>
                        </div>

                        <h6>Atención</h6>
                        <div class="form-group">
                            <input type="radio" name="atencion" value="Normal" formControlName="atencion">Normal <input type="radio" name="atencion" value="Anormal" formControlName="atencion">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="atencion"></textarea>
                        </div>
                        <h6>Memoria</h6>
                        <div class="form-group">
                            <input type="radio" name="memoria" value="Normal" formControlName="memoria">Normal <input type="radio" name="memoria" value="Anormal" formControlName="memoria">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="memoria"></textarea>
                        </div>
                        <h6>Orientación </h6>
                        <div class="form-group">
                            <input type="radio" name="orientacion" value="Normal" formControlName="orientacion">Normal <input type="radio" name="orientacion" value="Anormal" formControlName="orientacion">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="orientacion"></textarea>
                        </div>
                        <h6>Esquema corporal</h6>
                        <div class="form-group">
                            <input type="radio" name="esquema" value="Normal" formControlName="esquema">Normal <input type="radio" name="esquema" value="Anormal" formControlName="esquema">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="esquema"></textarea>
                        </div>
                        <h6>Afasia</h6>
                        <div class="form-group">
                            <input type="radio" name="afasia" value="Normal" formControlName="afasia">Normal <input type="radio" name="afasia" value="Anormal" formControlName="afasia">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="afasia"></textarea>
                        </div>
                        <h6>Apraxia</h6>
                        <div class="form-group">
                            <input type="radio" name="apraxia" value="Normal" formControlName="apraxia">Normal <input type="radio" name="apraxia" value="Anormal" formControlName="apraxia">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="apraxia"></textarea>
                        </div>
                        <h6>Agnosia</h6>
                        <div class="form-group">
                            <input type="radio" name="agnosia" value="Normal" formControlName="agnosia">Normal <input type="radio" name="agnosia" value="Anormal" formControlName="agnosia">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="agnosia"></textarea>
                        </div>
                        <h6>Funciones ejecutivas</h6>
                        <div class="form-group">
                            <input type="radio" name="funciones" value="Normal" formControlName="funciones">Normal <input type="radio" name="funciones" value="Anormal" formControlName="funciones">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="funciones"></textarea>
                        </div>

                        <h4>Componentes Psicosociales</h4>

                        <h6>Intereses </h6>
                        <div class="form-group">
                            <input type="radio" name="interes" value="Normal" formControlName="interes">Normal <input type="radio" name="interes" value="Anormal" formControlName="interes">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="interes"></textarea>
                        </div>
                        <h6>Autocontrol / Ansiedad</h6>
                        <div class="form-group">
                            <input type="radio" name="autocontrol" value="Normal" formControlName="autocontrol">Normal <input type="radio" name="autocontrol" value="Anormal" formControlName="autocontrol">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="autocontrol"></textarea>
                        </div>

                        <h6>Habilidades sociales</h6>
                        <div class="form-group">
                            <input type="radio" name="habilidades" value="Normal" formControlName="habilidades">Normal <input type="radio" name="habilidades" value="Anormal" formControlName="habilidades">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="habilidades"></textarea>
                        </div>
                        <h6>Problemas conductuales</h6>
                        <div class="form-group">
                            <input type="radio" name="problemas" value="Normal" formControlName="problemas">Normal <input type="radio" name="problemas" value="Anormal" formControlName="problemas">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="problemas"></textarea>
                        </div>
                        <h6>Estado de ánimo </h6>
                        <div class="form-group">
                            <input type="radio" name="estado" value="Normal" formControlName="estado">Normal <input type="radio" name="estado" value="Anormal" formControlName="estado">Anormal
                            <textarea class="form-control" placeholder="" style="width: 200%; height: 50px;" formControlName="estado"></textarea>
                        </div>


                        <h4>Objetivos De Tratamiento</h4>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Recuperación de Historia Personal" style="width: 200%; height: 150px;" formControlName="objetivos"></textarea>
                        </div>

                        <h4>Actividades</h4>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Observaciones" style="width: 200%; height: 150px;" formControlName="actividades"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Enviar" />
                        </div>



                    </div>

                </div>
            </form>
        </div>



    </div>




</div>