.content {
    left: 300px !important;
}

.segui {
    margin-top: 5%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    .card {
        margin-bottom: 20px;
    }
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}