<div class="content">

    <app-sidebar></app-sidebar>

    <div class="registroc">

        <div class="usuario">
            <h3>{{nameObj.role}} {{nameObj.nombreU}} {{nameObj.apellidoU}}</h3>
        </div>

        <!-- widgets para menuu -->


        <div class="container bootdey" *ngIf="!consulta">
            <div class="row bootstrap snippets bootdey">
                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-blue">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Pacientes</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li (click)="historiaA()">

                                    <h6>Historia Psicologica Adulto</h6>

                                </li>

                                <li (click)="historiaPA()">
                                    <h6>Historia Psiquiatrica Adulto </h6>
                                </li>
                                <li (click)="seguimiento()">
                                    <h6>Seguimientos Medicos Adulto</h6>
                                </li>

                                <li (click)="remision()">
                                    <h6>Remisiones Medicas Adulto</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-red">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Parejas</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li (click)="parejas()">
                                    <h6>Terapia De parejas

                                    </h6>
                                </li>
                                <li (click)="seguimientoP()">
                                    <h6>Seguimientos Medicos Pareja </h6>
                                </li>
                                <li (click)="remisionP()">
                                    <h6>Remisiones Medicas Pareja </h6>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-blue">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Grupos</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li (click)="grupos()">
                                    <h6>Terapia De Grupos </h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-blue">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Menor De Edad</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li (click)="historiaN()">

                                    <h6>Historia Psicologica Menor</h6>

                                </li>

                                <li (click)="historiaPA()">
                                    <h6>Historia Psiquiatrica Menor </h6>
                                </li>
                                <li (click)="seguimiento()">
                                    <h6>Seguimientos Medicos Menor</h6>
                                </li>

                                <li (click)="remision()">
                                    <h6>Remisiones Medicas Menor</h6>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box box-widget widget-user-2">
                        <div class="widget-user-header bg-red">
                            <div class="widget-user-image">

                            </div>

                            <h5 class="widget-user-desc">Otros</h5>
                        </div>
                        <div class="box-footer no-padding">
                            <ul class="nav nav-stacked">
                                <li (click)="terapiaO()">
                                    <h6>Formato Terapia Ocupacional

                                    </h6>
                                </li>
                                <li>
                                    <h6>Formato Trabajo Social </h6>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>




        <!-- para el recuadro que aparecera consultando cedula -->
        <div class="consulta" *ngIf="consulta">

            <div class="snip">

                <label for="tab-1" class="tab">Consulta Por Cedula</label>

                <div class="login">

                    <div class="group"> <label for="user" class="label">Digite Cedula</label> <input id="user" type="text" class="input" placeholder="Cedula" [(ngModel)]="cedula"> </div>


                    <div class="group"> <input type="submit" class="button" value="Enviar" (click)="buscarC()"> </div>
                    <div class="hr"></div>

                </div>

            </div>






        </div>





    </div>