.registroc {
    margin-left: 300px !important;
    margin-right: 50px !important;
    margin-top: 50px !important;
}

.card-title {
    color: #03225D;
}

button {
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #42B8D2;
    border: none;
    cursor: pointer;
    width: 100px;
}

.card {
    width: 400px !important;
    height: 380px !important;
    .card-body {}
}