<div class="content">

    <app-sidebar></app-sidebar>

    <div class="registroc">

        <div class="row row-cols-1 row-cols-md-2" *ngIf="!consulta">
            <div class="col mb-5">
                <!-- Card -->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top" src="../../../assets/images/LOGO.jpg" alt="Card image cap">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">

                        <!--Title-->
                        <h4 class="card-title">Formato Historia Adultos</h4>

                        <button type="button" class="btn " (click)="historiaA()">Registro</button>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col mb-5 ">
                <!-- Card -->
                <div class="card ">

                    <!--Card image-->
                    <div class="view overlay ">
                        <img class="card-img-top " src="../../../assets/images/LOGO.jpg " alt="Card image cap ">
                        <a href="#! ">
                            <div class="mask rgba-white-slight "></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body ">

                        <!--Title-->
                        <h4 class="card-title ">Formato Terapia De Parejas</h4>

                        <button type="button " class="btn " (click)="parejas() ">Registro</button>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col mb-5 ">
                <!-- Card -->
                <div class="card ">

                    <!--Card image-->
                    <div class="view overlay ">
                        <img class="card-img-top " src="../../../assets/images/LOGO.jpg " alt="Card image cap ">
                        <a href="#! ">
                            <div class="mask rgba-white-slight "></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body ">

                        <!--Title-->
                        <h4 class="card-title ">Formato Derivación De Caso</h4>

                        <button type="button " class="btn " (click)="derivacion()">Registro</button>

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col mb-5 ">
                <!-- Card -->
                <div class="card ">

                    <!--Card image-->
                    <div class="view overlay ">
                        <img class="card-img-top " src="../../../assets/images/LOGO.jpg " alt="Card image cap ">
                        <a href="#! ">
                            <div class="mask rgba-white-slight "></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body ">

                        <!--Title-->
                        <h4 class="card-title ">Formato Remisión De Caso</h4>

                        <button type="button " class="btn " (click)="remision()">Registro</button>

                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>



    </div>

    <!-- para el recuadro que aparecera consultando cedula -->
    <div class="consulta" *ngIf="consulta">

        <div class="snip">

            <label for="tab-1" class="tab">Consulta Por Cedula</label>

            <div class="login">

                <div class="group"> <label for="user" class="label">Digite Cedula</label> <input id="user" type="text" class="input" placeholder="Cedula" [(ngModel)]="cedula"> </div>


                <div class="group"> <input type="submit" class="button" value="Enviar" (click)="buscarC()"> </div>
                <div class="hr"></div>

            </div>

        </div>






    </div>





</div>