<div class="content">


    <app-sidebar></app-sidebar>

    <div class="datosp">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
            </div>
            <!-- for camera -->

            <div class="row">
                <div class="col-md-6">
                    <webcam class="webcam" [height]="275" [width]="400" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [imageQuality]="1" (initError)="handleInitError($event)"></webcam>
                </div>

                <div class="col-md-6" *ngIf="webcamImage">


                    <img [height]="275" [width]="400" [src]="webcamImage.imageAsDataUrl" />
                </div>


            </div>

            <div class="tomar">
                <button class="btnContacti" (click)="triggerSnapshot();">Tomar</button>
            </div>

            <!-- ----------- -->
            <form [formGroup]="datospForm" (ngSubmit)="datosPersonales()">
                <h3>Datos Personales</h3>
                <div class="row">
                    <div class="col-md-6">


                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nombre  y Apellidos" formControlName="nombreyapellido" />
                        </div>

                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Luga de nacimiento" formControlName="lugarnacimiento" />
                        </div>
                        <div class="form-group">
                            <dp-date-picker class="form-control" [config]="datePickerConfig" placeholder="Fecha de nacimiento" formControlName="fechanacimiento"></dp-date-picker>
                            <!-- <input type="text" name="" class="form-control" placeholder="Fecha de nacimiento" formControlName="fechanacimiento" /> -->
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Ocupacion" formControlName="ocupacion" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Direccion" formControlName="direccion" />
                        </div>
                        <!-- opcional para menor de edad -->
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nombre Acudiente(opcional)" formControlName="nombreacudiente" />
                        </div>


                    </div>


                    <div class="col-md-6">


                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Telefono" formControlName="telefono" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Cedula" formControlName="cedula" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Escolaridad" formControlName="escolaridad" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Estrato" formControlName="estrato" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="EPS" formControlName="eps" />
                        </div>
                        <!-- opcional para menor de edad -->
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Parentesco(opcional)" formControlName="parentesco" />
                        </div>


                    </div>
                </div>

                <!-- signature    -->
                <signature-pad class="firma" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                <div class="tomar">
                    <button type="button" class="btnContacti" (click)="clearSignature()">Limpiar</button>
                </div>

                <h6>Al firmar acepta los termino y condiciones del consentimiento informado al momento del registro en esta institucion prestadora de servicios de salud</h6>

                <div class="enviar">
                    <!-- boton enviar -->
                    <input type="submit" name="btnSubmit" class="btnContact" value="Enviar" />
                </div>
            </form>


        </div>



    </div>


</div>