<div class="content">


    <app-sidebar></app-sidebar>

    <div class="datosp">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="../../../../assets/images/LOGO.jpg" alt="centroolatres" />
            </div>

            <!-- for camera 1-->

            <app-webcamimage (webcamoutput)="webimage($event)"></app-webcamimage>

            <!-- for camera 2-->
            <app-webcamimage (webcamoutput)="webimage2($event)"></app-webcamimage>


            <!-- ----------- --------------------------------------------------->

            <form [formGroup]="datospForm" (ngSubmit)="datosPersonales()">
                <h3>Datos Personales Pareja</h3>
                <h4>Persona 1</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nombre  y Apellidos" formControlName="nombreyapellido" />
                        </div>

                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Lugar de nacimiento" formControlName="lugarnacimiento" />
                        </div>
                        <div class="form-group">
                            <dp-date-picker theme="dp-material" class="form-control" [config]="datePickerConfig" placeholder="Fecha de nacimiento" formControlName="fechanacimiento"></dp-date-picker>
                            <!-- <input type="text" name="" class="form-control" placeholder="Fecha de nacimiento" formControlName="fechanacimiento" /> -->
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Ocupacion" formControlName="ocupacion" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Direccion" formControlName="direccion" />
                        </div>



                    </div>
                    <div class="col-md-6">


                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Telefono" formControlName="telefono" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Cedula" formControlName="cedula" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Escolaridad" formControlName="escolaridad" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Estrato" formControlName="estrato" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="EPS" formControlName="eps" />
                        </div>





                    </div>
                </div>

                <!-- persona 2 -->
                <h4 class="persona2">Persona 2</h4>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Nombre  y Apellidos" formControlName="nombreyapellido2" />
                        </div>

                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Lugar de nacimiento" formControlName="lugarnacimiento2" />
                        </div>
                        <div class="form-group">
                            <dp-date-picker theme="dp-material" class="form-control" [config]="datePickerConfig" placeholder="Fecha de nacimiento" formControlName="fechanacimiento2"></dp-date-picker>

                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Ocupacion" formControlName="ocupacion2" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Direccion" formControlName="direccion2" />
                        </div>

                        <!-- <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Enviar" />
                        </div> -->
                    </div>


                    <div class="col-md-6">

                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Telefono" formControlName="telefono2" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Cedula" formControlName="cedula2" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Escolaridad" formControlName="escolaridad2" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="Estrato" formControlName="estrato2" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="" class="form-control" placeholder="EPS" formControlName="eps2" />
                        </div>


                    </div>
                </div>

                <app-signaturefild (firmaClick)="drawStart($event)" class="firma"></app-signaturefild>
                <h6>Al firmar acepta los termino y condiciones del consentimiento informado al momento del registro en esta institucion prestadora de servicios de salud</h6>

                <app-signaturefild (firmaClick)="drawStart2($event)" class="firma"></app-signaturefild>
                <h6>Al firmar acepta los termino y condiciones del consentimiento informado al momento del registro en esta institucion prestadora de servicios de salud</h6>



                <div class="enviar">
                    <!-- boton enviar -->
                    <input type="submit" name="btnSubmit" class="btnContact" value="Enviar" />
                </div>

            </form>
        </div>



    </div>


</div>